<nav class="pagination" role="navigation">
  <ul class="au-link-list au-link-list--inline">
    {{#if prev}}
      <li>
        <a class="au-direction-link au-direction-link--left" href="{{page_url prev}}">Newer Posts</a>
      </li>
    {{/if}}
    <li class="page-number">Page {{page}} of {{pages}}</li>
    {{#if next}}
      <li>
        <a class="au-direction-link" href="{{page_url next}}">Older Posts</a>
      </li>
    {{/if}}
  </ul>
</nav>
