<nav class="au-main-nav au-main-nav--dark no-print">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="au-main-nav__content" id="nav">
          <button aria-controls="nav"
              class="au-main-nav__toggle au-main-nav__toggle--open"
              onclick="return AU.mainNav.Toggle( this )">
            Menu
          </button>
          <div class="au-main-nav__menu">
            <div class="au-main-nav__menu-inner">
              <div class="au-main-nav__focus-trap-top"></div>
              <button
                aria-controls="nav"
                class="au-main-nav__toggle au-main-nav__toggle--close"
                onclick="return AU.mainNav.Toggle( this )">
                Close
              </button>
              {{navigation}}
              <div class="au-main-nav__focus-trap-bottom"></div>
            </div>
          </div>
          <div class="au-main-nav__overlay" aria-controls="nav" onClick="return AU.mainNav.Toggle( this )"></div>
        </div>
      </div>
    </div>
  </div>
</nav>
