.static-avatar {
  display: block;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  margin-right: 0.3rem;
}

.profile-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  
  span {
    display: block;
  }
}
