.kg-width-wide {
	color: inherit;
}

.kg-width-full {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	overflow: hidden;
	display: flex;
	height: 60vh;
	min-height: 400px;

	img {
		display: block;
		object-fit: cover;
		overflow: hidden;
		width: 100%;
	}
}

.kg-gallery-container {
	color: inherit;
}

.kg-gallery-row {
	color: inherit;
}

.kg-gallery-image {
	color: inherit;	
}
