// Dark theme overrides
// $AU-colordark-foreground-text:   #ffffff;
// $AU-colordark-foreground-action: #f9f9f9;
// $AU-colordark-foreground-focus:  #13e241;
// $AU-colordark-background:        #134169;

// Light theme overrides
// $AU-color-foreground-action: #134169;
// $AU-color-foreground-focus:  #0C8927;

//Main nav, set project specific breakpoint
$AU-color-foreground-focus: #6be400;
$AU-color-foreground-action: #00458f;
$AU-colordark-background: #002f7e;
$AU-colordark-foreground-focus: #6be400;
$AU-main-nav-breakpoint: sm;
