// .post-card {
//   @include AU-media('md') {
//     border: 2px solid #ddd;
//     border-radius: 0.5rem;
//   }
//   border: 2px solid transparent;
//   border-color: #ddd transparent;
//   box-shadow: 2px 2px #ccc;

//   .post-contents {
//     display: flex;
//     flex-flow: column nowrap;
//   }

//   header {
//     margin: 1rem 0;
//   }

//   section {
//     margin: 1rem 0 2rem;
//   }

//   .author-list {
//     list-style: none;
//     padding-inline-start: 0;
//   }
// }
