@charset 'UTF-8';
// Dark theme overrides
// $AU-colordark-foreground-text:   #ffffff;
// $AU-colordark-foreground-action: #f9f9f9;
// $AU-colordark-foreground-focus:  #13e241;
// $AU-colordark-background:        #134169;

// Light theme overrides
// $AU-color-foreground-action: #134169;
// $AU-color-foreground-focus:  #0C8927;

@import '_overrides';
@import 'pancake';

// Reset the body
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}


// Increase the spacing for au-body elements
body > .au-body {
	@include AU-space( padding, 2unit 0 );

	@include AU-media( sm ) {
		@include AU-space( padding, 4unit 0 );
	}
}


// Add a max width to container fluid
.container-fluid {
	@include AU-space( max-width, 72unit );
}


// Change the banner responsiveness
.banner {
	[class^="col-"] + [class^="col-"] {
		@include AU-space( padding-top, 2unit );
	}

	@include AU-media( md ) {
		[class^="col-"] + [class^="col-"] {
			padding-top: 0;
		}
	}
}


// Change the main content spacing between sections
.main-content  {
	.row + .row {
		@include AU-space( margin-top, 2unit );
	}

	main {
		@include AU-space( padding-top, 2unit );
	}

	@include AU-media( sm ) {
		.row + .row {
			@include AU-space( margin-top, 4unit );
		}
		main {
			padding-top: 0;
		}
	}
}

.no-print {
	@media print {
		display: none;
	}
}


// Increase spacing between list items in footer
.au-footer .au-link-list li {
	@include AU-space( padding-right, 1unit );
}

@import '_avatar';
@import '_header';
@import '_koenig';
@import '_postcard';
@import '_post';
