<!doctype html>
<!--[if lt IE 8]>
  <html class="no-js lt-ie8 lt-ie9" lang="en">
<![endif]-->
<!--[if IE 8]>
  <html class="no-js lt-ie9 ie8" lang="en">
<![endif]-->
<!--[if IE 9 ]>
  <html class="no-js ie9" lang="en">
<![endif]-->
<!--[if !(IE)]><!-->
  <html class="no-js" lang="en">
<!--<![endif]-->
<head>
  {{!-- Document Settings --}}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

  <script type="text/javascript">
    var $html = document.documentElement; if ($html.classList) $html.classList.remove("no-js"), $html.classList.add("js"); else { var className = "no-js"; $html.className = $html.className.replace(new RegExp("(^|\\b)" + className.split(" ").join("|") + "(\\b|$)", "gi"), " "), $html.className += " js" }
  </script>

  {{ghost_head}}

  <script src="{{asset "js/main.js"}}" defer></script>
  {{>code-highlight}}
  {{>ie9-shim}}
</head>
<body class="au-grid {{body_class}}">
  <nav class="au-skip-link" data-turbolinks-permanent data-turbolinks="false">
    <a href="#content" class="au-skip-link__link">Skip to main content</a>
    <a href="#nav" class="au-skip-link__link">Skip to main navigation</a>
  </nav>

  <header class="au-header au-header--dark{{#if @site.cover_image}}" style="background-image: url({{@site.cover_image}}){{else}}no-cover{{/if}}" role="banner" data-turbolinks-permanent>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <a class="au-header__brand" href="{{@site.url}}">
            {{#if @site.logo}}
              <img alt="{{@site.title}}" class="au-header__brand-image" src="{{@site.logo}}" />
            {{/if}}
            <div class="au-header__text">
              <h1 class="au-header__heading">
                {{@site.title}}
              </h1>
              <div class="au-header__subline">{{@site.description}}</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>
  {{> site-nav}}

  {{{body}}}

  <footer class="au-footer au-footer--dark" role="contentinfo" data-turbolinks-permanent>
    <div class="container-fluid">
      <nav class="au-footer__navigation row au-body au-body--dark">
        <div class="col-md-4 col-sm-6">
          <ul class="au-link-list au-link-list--inline">
            <li class="no-print">
              <a href="{{@site.url}}">Latest Posts</a>
            </li>
            {{#if @site.facebook}}<li><a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">Facebook</a></li>{{/if}}
            {{#if @site.twitter}}<li><a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a></li>{{/if}}
            <li>
              <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
            </li>
            <li class="no-print">
              <a class="au-direction-link au-direction-link--up" href="#top" data-turbolinks="false">Go to top</a>
            </li>
          </ul>
        </div>
      </nav>
      <section class="au-footer__end row au-body au-body--dark">
        <div class="col-sm-12">
          <p><small>&copy; <a href="{{@site.url}}">{{@site.title}}</a> {{#get "posts" limit="1" order="published_at asc"}}{{#foreach posts}}{{date published_at format="YYYY"}}{{/foreach}}{{/get}}, {{date format="YYYY"}}</small></p>
        </div>
      </section>
    </div>
  </footer>
  {{ghost_foot}}
</body>
</html>
