{{!< default}}
<div class="container-fluid au-body main-content" id="content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Latest Posts</h1>
    </div>
  </div>
  <main class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul>
        {{#foreach posts}}
        <li>
          {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
          {{> "post-card"}}
        </li>
        {{/foreach}}
      </ul>
    </div>
  </main>
</div>
