{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<article class="container-fluid au-body main-content">
  {{!-- MAIN BODY --}}
  <main id="content">
    <div class="row">
      <div class="col-md-12">
        <header class="post-full-header">
          <h1 class="post-full-title">{{title}}</h1>
          {{#if feature_image}}
            <figure class="post-full-image">
              <img src="{{feature_image}}" alt="">
            </figure>
          {{/if}}
        </header>
      </div>
    </div>

    <section class="row">
      <div class="col-md-8">
        {{content}}
      </div>
    </section>
  </main>
</article>

{{/post}}
