{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<article class="container-fluid au-body main-content" id="content">
  <div class="row">
    <header class="col-md-12 post-full-header">
      <section class="post-full-meta">
        <time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
        {{#primary_tag}}
          <span class="date-divider">/</span> <a href="{{url}}">{{name}}</a>
        {{/primary_tag}}
      </section>
      <h1 class="post-full-title">{{title}}</h1>
      {{#if feature_image}}
        <figure class="kg-width-full">
          <img alt=""
            srcset="
              {{img_url feature_image size="picture_small"}} 640w,
              {{img_url feature_image size="picture_medium"}} 960w,
              {{img_url feature_image size="picture_large"}} 1280w,
              {{img_url feature_image size="picture_huge"}} 1600w
              "
            sizes="
              (max-width: 576px) 576px,
              (max-width: 768px) 768px,
              (max-width: 992px) 992px,
              (max-width: 1200px) 100vw
            "
            src="{{img_url feature_image size="picture_large"}}">
        </figure>
      {{/if}}
    </header>
  </div>
  {{!-- MAIN BODY --}}
  <main class="row">
    <section class="col-md-8">
      {{content}}
      {{#if primary_tag}}
        <hr>
      {{/if}}
    </section>
  </main>
</article>

<aside class="container-fluid au-body">
  <div class="row">
    {{#if primary_tag}}
      {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
        {{#if related_posts}}
          <article class="read-next-card col-md-8">
            <h1 class="au-display-lg">Related posts</h1>
            <ul>
              {{#foreach related_posts}}
              <li><a href="{{url}}">{{title}}</a></li>
              {{/foreach}}
            </ul>
          </article>
        {{/if}}
      {{/get}}
    {{/if}}
  </div>
</aside>
{{/post}}
